@import "tailwindcss";

:root {
  --color-bg: white;
  --color-text: black;
}

body[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #fff;
}

body[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}